:root {
  --ff: "Raleway", sans-serif;
  --font-500: 500;
  --font--600: 600;
  --font-700: 700;
  --s-font: 0.875rem;
  --n-font: 1rem;
  --l-font: 1.375rem;
  --xl-font: 2rem;

  --color-azul: #2a7ae4;
  --color-azulOscuro: #1b60bb;
  --color-azulClaro: #eaf2fd;
  --color-blanco: #fff;
  --color-gris: #f5f5f5;
  --color-grisMedio: #b9b9b9;
  --color-oscuro: #464646;

  --tamano-img-ancho: 156px;
  --tamano-img-largo: 174px;
}

/* https://piccalil.li/blog/a-modern-css-reset  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  font-family: var(--ff);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *--------------------------------* */

.container {
  width: 75%;
  margin: 0 auto;
}

.color {
  background: var(--color-gris);
  padding: 1rem;
}

.d-flex-jc-c {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 1em 0;
}

.logo {
  height: 3rem;
  margin: 1em auto;
}

.imagen {
  margin: auto;
  width: var(--tamano-img-ancho);
  height: var(--tamano-img-largo);
  object-fit: cover;
}

.login {
  margin: auto 0;
}

.button {
  margin: auto 1rem;
  width: 9rem;
  height: 3rem;
  border: 1px solid var(--color-azul);
  color: var(--color-azul);
  background: var(--color-blanco);
  font-size: var(--s-font);
  font-weight: var(--font--600);
  cursor: pointer;
}

.button:hover {
  background: var(--color-azul);
  color: var(--color-blanco);
}

.buttonb {
  margin-top: 0.25rem;
  margin-left: 0;
  padding: 0.75rem 2.9375rem;
  border: 1px solid var(--color-azul);
  color: var(--color-blanco);
  background: var(--color-azul);
  font-size: var(--s-font);
  font-weight: var(--font--600);
  cursor: pointer;
}

.buttonb:hover {
  background: var(--color-azulOscuro);
}

.buscarEstilo {
  display: none;
  border: none;
  border-radius: 50px;
  background: var(--color-gris);
  height: 3rem;
  width: 25rem;
  margin: auto;
  font-size: var(--s-font);
}

.search {
  display: none;
}

/* Hero */

.fondo {
  display: flex;
  background-image: url("img/Hero-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.texto {
  padding: 15em 1em 0 1em;
  color: var(--color-blanco);
  margin-bottom: 2rem;
}
.texto h2 {
  font-size: 3.25rem;
}

.texto p {
  font-size: var(--l-font);
}

/* Main */

.listas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em;
  margin-bottom: 1rem;
}

.listas h2 {
  font-size: var(--xl-font);
  font-weight: var(--font-700);
  color: var(--color-oscuro);
}

.listas__ver {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--n-font);
  color: var(--color-azul);
}

.listas__ver p {
  margin-right: 0.5rem;
}

.productos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.link {
  color: var(--color-oscuro);
  text-decoration: none;
}

.item {
  background-color: var(--color-blanco);
  box-shadow: 0 0 5px var(--color-oscuro);
  border-radius: 0.5rem;
}

.descripcion {
  padding: 1em;
}

.link__color {
  color: var(--color-azul);
  text-decoration: none;
  font-weight: var(--font-700);
}

.precio {
  font-weight: var(--font-700);
}

/* Contacto */

.contact {
  background: var(--color-azulClaro);
}

.contact__c {
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
}

.lista {
  margin-bottom: 1rem;
}

.lista a {
  text-decoration: none;
  color: var(--color-oscuro);
  font-size: var(--n-font);
}

.contact__formulario-titulo {
  font-size: var(--n-font);
  font-weight: var(--font-700);
  margin-bottom: 1rem;
}

.contact__formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form-label {
  background: var(--color-blanco);
  font-size: var(--s-font);
  color: var(--color-oscuro);
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5em;
}

.contact__form-input {
  background-color: var(--color-blanco);
  outline: none;
  border: none;
  resize: none;
  width: 100%;
}

.contact__btn {
  width: 35%;
  font-weight: var(--font-500);
}

/* Footer */

.footer {
  padding: 1em;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--color-oscuro);
  font-size: var(--s-font);
  font-weight: var(--font-600);
}

/* ----------Login.html---------- */

.login__dos {
  background: var(--color-gris);
  padding: 5rem;
}

.login__container {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.login__form-title {
  font-size: var(--xl-font);
  color: var(--color-oscuro);
  margin-bottom: 1rem;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form-input {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: var(--color-blanco);
  border-radius: 5px;
  border: none;
}

.login__ingresar a {
  text-decoration: none;
  color: var(--color-blanco);
}

/* ----------agregar.html---------- */

.agregar {
  background: var(--color-gris);
  padding: 5rem 0;
}

.agregar__container {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.agregar__form-title {
  font-size: var(--xl-font);
  color: var(--color-oscuro);
  margin-bottom: 1rem;
}

.agregar__form {
  display: flex;
  flex-direction: column;
}

.agregar__form-label {
  background: var(--color-blanco);
  font-size: var(--s-font);
  color: var(--color-grisMedio);
  text-align: left;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5em;
}

.agregar__form-input {
  width: 100%;
  padding: 0.5rem;
  background: var(--color-blanco);
  border-radius: 5px;
  border: none;
  resize: none;
}

.agregar__price-box {
  display: flex;
}
.agregar__price-box > span {
  margin: auto 1%;
}

.agregar__form-submit {
  width: 100%;
}

.agregar__form-submit a {
  color: var(--color-blanco);
  text-decoration: none;
}

/* ----------productos.html---------- */

.total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 1rem;
}

.descripcion__acciones {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}

.descipcion__acciones-edit {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.descipcion__acciones-edit:hover {
  box-shadow: 0 0 5px var(--color-oscuro);
}
.descipcion__acciones-borrar {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.descipcion__acciones-borrar:hover {
  box-shadow: 0 0 5px var(--color-oscuro);
}

/* ----------Detalle Producto---------- */

.detalle {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  gap: 5rem;
}

.detalle__img {
  width: 35%;
  border-radius: 5px;
  box-shadow: 0 0 25px var(--color-grisMedio);
}

.detalle__detalle {
  margin: 5rem 0;
  width: 30%;
}

.detalle__nombre {
  font-size: var(--xl-font);
}

.detalle__titulo {
  font-size: var(--n-font);
  margin-bottom: 1rem;
}

.detalle__precio {
  font-size: var(--l-font);
  font-weight: var(--font-700);
  color: var(--color-azul);
}
/* ----------error.html---------- */

.mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  text-align: center;
  padding: 4em 2em;
  background: var(--color-blanco);
  box-shadow: 0 0 50px var(--color-oscuro);
  border-radius: 5px;
  font-size: var(--xl-font);
}

.mensaje h2 {
  margin-bottom: 3rem;
}

.mensaje__button {
  margin-top: 3rem;
  justify-content: center;
  width: 25%;
}
.mensaje__button a {
  text-decoration: none;
  color: var(--color-blanco);
}

.resultado__titulo {
  font-size: var(--xl-font);
}

/*---------- Busqueda.html ----------*/

.busqueda {
  padding: 5rem 2rem;
}

.no-coincidencia {
  margin-top: 3rem;
}

/*---------- MEDIA QUERIES ----------*/

@media (min-width: 1441px) {
  .buscarEstilo {
    display: block;
  }
}

@media (max-width: 1441px) {
  .container {
    width: 90%;
  }

  .mostrar {
    display: block;
  }

  .ocultar {
    display: none;
  }

  .search {
    display: block;
    margin: auto 0;
  }

  .productos {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--s-font);
  }

  .detalle {
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
  }

  .detalle__img {
    width: 60%;
  }

  .detalle__detalle {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .item {
    margin: 1em auto;
  }

  .itemO {
    display: none;
  }

  .contact__c {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }

  .contact__formulario {
    width: 100%;
    text-align: left;
  }

  .contact__btn {
    width: 50%;
    padding: 1em;
  }
}

@media (max-width: 400px) {
  .listas {
    flex-direction: column;
    text-align: center;
  }

  .productos {
    justify-content: center;
    margin-bottom: 2rem;
  } 
  
  .button {
    width: 4rem;
  }
}
